In [24]:
#Creating a dataframe from dictionary

import pandas as pd

d={
    'day':['01/01/2017','01/01/2018','01/01/2019','01/01/2020'],
    'cities':['Chennai','Mumbai','Miami','London'],
    'Event':['Snow','Sunny','Rain','Sunny'],
    'Temperature':[33,40,19,25]
}
df=pd.DataFrame(d)
df

          day   cities  Event  Temperature
0  01/01/2017  Chennai   Snow           33
1  01/01/2018   Mumbai  Sunny           40
2  01/01/2019    Miami   Rain           19
3  01/01/2020   London  Sunny           25

In [49]:
#reading data from CSV
pd.read_csv('weather_data.csv')

#reading data from Excel
pd.read_excel('weather_data.xlsx',"Sheet1")

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [50]:
#Creating from a tuple list
data=[
    ('a',1,'z'),
    ('b',2,'y'),
    ('c',3,'x')
]
df=pd.DataFrame(data,columns=["col1","col2","col3"])
df

  col1  col2 col3
0    a     1    z
1    b     2    y
2    c     3    x

In [ ]:
df.head(3)
df.tail(1)
df[1:3]
df['cities']
df['Temperature'].max()
df.describe()
df[df.Temperature>=10]
df[['day','Temperature']][df.Temperature==df.Temperature.max()]